/* The hammer impact animation */

@keyframes hammer-impact {
    0% {
        transform: rotateZ(45deg);
    }
    25% {
        transform: rotateZ(000deg);
    }
    50% {
        transform: rotateZ(45deg);
    }
    75% {
        transform: rotateZ(000deg);
    }
    100% {
        transform: rotateZ(45deg);
    }
}


/* The finger animation */

@keyframes finger-link {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateX(0px);
    }
}


/* The finger animation mobile*/

@keyframes finger-link-mob {
    from {
        transform: translateX(15px);
    }
    to {
        transform: translateX(0px);
    }
}